<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="wishlist">
      <ion-icon src="assets/icons/heart.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="order-history">
      <ion-icon class="list" src="assets/icons/list.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon class="user" src="assets/icons/profile-user.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
